button {
    color: rgb(0, 0, 0);
}

html, body {
    height: 100%;
}

.messageOut {
    color: blue;

}
.messageIn {
    color: grey;
    text-align: right;
}

#border {
  background-color: white;
  height: 70%;
  overflow: auto;
}
#YOU{
  font-size: 0.5px;
}