html, body{
  height: 100%;
}  
.messageOut{
  color: blue;
}
.messageIn{ 
  color: grey; 
  text-align: right;
}
 
#border {
  background: white;
  height: 70%;
  overflow: auto;
}

.me {
 font-size: 10px;
}
 
.him {
 text-align: right;
 font-size: 10px;
}

.highlight {
  color: red;
}
